<!DOCTYPE html>
<html>
<head>
  <title>Wg</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=container>
    <%= render 'header/header' %>
</div>
<div class=container>

<div class=row>
    <div class="eight columns">
        <%= yield %>
    </div>
    <div class="four columns sidebar">
        <%= render 'home/sidebar' %>
    </div>
</div>

<!--<%= controller.controller_name %>
<%= controller.action_name %>-->
</div>

</body>
</html>
