<!DOCTYPE html>
<html>
<head>
  <title>Wg</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=container>
    <%= render 'header/header' %>
</div>
<div class=container>

<div class=row>
    <div class="eight columns">
        <%= yield %>
    </div>
    <div class="four columns sidebar">
        <%= render 'home/sidebar' %>
    </div>
</div>

<!--<%= controller.controller_name %>
<%= controller.action_name %>-->
</div>


<script>
    $(document).ready(function() {
       $("input[type=submit]").click(function () {
           $(this).parent().css({"width":"20px","height":"20px","background-image":"url(/assets/load.gif)"});
       });
    });
</script>


<script>
  $(document).ready(function () {
      $(".vote").click(function () {
            var v1 = 0;
            if ($(this).hasClass("up")) {
               v1 = 1
            }
            if ($(this).hasClass("down")) {
              v1 = -1
            }
            id = $(this).parent().attr("data-id");
            cls = $(this).parent().attr("data-class");

            $.ajax({url:"/vote", data: {obj: cls, id: id, value:v1}});
      });
  });

</script>

</body>
</html>
